/* cookie_styles.css */

body {
    background-color: beige;
    font-family: 'Annie Use Your Telescope';
}

.title1 {
    font-size: 40px;
}

.title1,.ing,.steps {
    color: wheat;
    text-align: center;
    background-color: blue;
}

title2 {
    color: brown;
}

p {
    color: dimgrey;
}